*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

header{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}
.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}
.logo:hover{
    transform: scale(1.1);
}
.nav-links{
    display: flex;
    gap: 2rem;
}
li a{
    position: relative;
    color: white;
    font-weight: 300;
}
li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: 0.3s ease-in-out;
    background-color: rgb(56, 56, 163);
}
li a:hover::before{
    width: 100%;
}
.visit-btn{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
    background:  rgb(56, 56, 163);
}
.visit-btn:hover{
    background:  rgb(78, 78, 190);
    transform: scale(1.03);
}
#menu-icon{
    font-size: 2rem;
    display: none;
}
.btn-group{
    display: flex;
    gap: 1rem;
}
.btn{
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    border: 2px solid black;
    cursor: pointer;
    font-weight: 500;
    text-wrap: nowrap;
    transition: 0.2 ease-in-out;
}
.btn:hover{
    background-color: black;
    color: white;
}
.section-title{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.section-title2{
    text-align: center;
    font-size: 4rem;
    font-weight: 600;
    background: white;
    background-clip: text;
    color: transparent;
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(300px), 1fr));
    gap: 2rem;
}
.project-card{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
    border: 2px solid black;
    border-radius: 3rem;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.project-card:hover{
    background-color: black;
    color: white;
    transform: translateY(-10px)scale(1.02);
}
.project-card img{
    width: 20vw;
    border-radius: 1rem;
}
.project-card:hover .btn{
    border: 2px solid white;
    color: white;
}
.project-card:hover .btn:hover{
    border: 2px solid white;
    background-color: white;
    color: black;
}
.project-card h3{
    font-size: 2rem;
    font-weight: 500;
}
footer{
    bottom: 0;
    left: 0;
    height: 10rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
footer ul{
    display: flex;
    align-items: center;
    gap: 3rem;
}
footer ul li a{
    color: black;
    font-weight: 600;
}
.copyright{
    font-size: 300;
    margin-top: 2rem;
}
@media(max-width:1280px){
    header{
        padding: 1rem 2rem;
        gap: 2rem;
    }
    .about .about-container{
        gap: 3rem;
    }
    .experience-info{
        flex-direction: column;
    }
}

@media(max-width:768px){
    header{
        gap: 1rem;
        padding: 1rem 1rem;
    }
    header .logo{
        font-size: 1rem;
    }
    header .visit-btn{
        display: none;
    }
    .about-container{
        flex-direction: column;
    }
    .grid{
        grid-template-columns: repeat(1,1fr);
    }
    .experience-info img{
        width: 70vw;
    }
}

@media(max-width:600px){
    header #menu-icon{
        display: block;
    }
    .nav-links{
        position: absolute;
        top: 100%;
        margin-top: 1rem;
        width: 100%;
        padding: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        background: black;
        border-radius: 3rem;
        display: none;
    }
    .nav-links li{
        margin-top: 1.5rem;
        padding: 1rem;
    }
    .nav-links.active{
        display: block;
    }
    header{
        padding: 1rem 5rem;
        gap: 8rem;
    }
    header .logo{
        font-size: 1.5rem;
    }

    .about-container img{
        width: 80vw;
    }
    footer ul{
        gap: 1rem;
    }
}